<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/login.css" />
<script src="./js/bootstrap.bundle.js"></script>


<div class="container-fluid" lang="en">
  <% if(isLog == null){ %>
  <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-6">
          <div class="card cardcontent">
              <div class="card-title cardtitle">
                  <span>Login</span>
              </div>
              <div class="card-subtitle cardsubtitle">
                  <span>Access our services</span>
              </div>
              <div class="card-body">
                  <form action="/login" method="POST">
                      <div class="row">
                          <div class="col-12">
                              <label htmlFor="email">Email</label>
                              <input type="text" id="email" name="email" class="form-control" placeholder='example@gmail.com'/>
                          </div>
                          <div class="col-12">
                              <label htmlFor="password">Password</label>
                              <input type="password" class="form-control" id="password" name="password" placeholder='********'/>
                          </div>
                          <div class="row btn1">
                            <div class="col-12">
                              <p><button type="submit" class="btn btnLogReg">Login</button></p>
                              <p><a href="/register"><button
                                type='button'
                                class="alreadysigned"
                                >
                                  New customer? Sign here.
                              </button></a></p>
                            </div>
                        </div>
                      </div>
                  </form>
              </div>
      </div> 
  </div>
  <% }else{ %>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-6">
          <div class="card cardcontent">
            <div class="card-title cardtitle">
              <span>Logout</span>
            </div>
            <div class="card-body">
              <form action="/logout" method="POST">
                <div class="row justify-content-center">
                  <button type="submit" class="btn btnOut">Logout here</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div> 
  </div>
  <% } %>
  <div class="row justify-content-center links">
    <a href="/">Proceed to the Front Office Home Page here.</a>
    <a href="/game">Proceed to the Game App Home Page here.</a>
  </div>
</div>

