body{
    background-color: #f5f5f5;
    color: #303634;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.container-fluid{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #f8f8f8;
    position: absolute;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px #303634;
    padding: 0;
}

.btn1{
    text-decoration: none;
    border: none;
    background-color: #01c33e;
    color: white;
    padding: 8px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 8px;
    width: 50px;
    box-sizing: border-box;
}

.btn2{
    text-decoration: none;
    border: none;
    background-color: #01c33e;
    color: white;
    padding: 8px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 8px;
    width: 50px;
    margin-left: 320px;
    box-sizing: border-box;
}

.btn3{
    text-decoration: none;
    border: none;
    background-color: #01c33e;
    color: white;
    padding: 8px;
    margin-bottom: 0;
    border-radius: 8px;
    width: 100px;
    box-sizing: border-box;
}

.header {
    position: fixed;
    left: 8px;
    top: 8px;
 }

.sidebarlist{
    margin: 0;
    padding: 0;
}

.footer {
    position: fixed;
    left: 160px;
    bottom: 8px;
 }

.links{
    list-style: none;
    padding: 4px;
    margin: 0;
}

.links li{
    margin: 0;
    padding: 8px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 0;
}

.links li:hover{
    background-color: #01c33e;
    color: white;
}

.links a{
    text-decoration: none;
    color: #131618;
}

hr{
    margin:0;
}