.container-fluid{
    margin-top: 50px;
}

.title{
    text-align: center;
}

.first{
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.second{
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.third{
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.form-label{
    margin-bottom: 0px;
}

.btn{
    font-weight: 550;
    width: 100%;
}