.container-fluid{
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.row{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.insertDiv{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 4px;
    margin: 0;
}

.deleteDiv{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

.modifyDiv{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 20px;
    margin: 0;
}

.insertProds{
    width: 100%;
    background-color: #d7d7d7;
    color: #28272c;
    height: 60px;
    font-size: 26px;
    font-weight: 600px;
    border: 0;
    border-radius: 8px;
}

.insertProds:active{
    transform: translate(1px, 1px);
}

.deleteProds{
    width: 100%;
    background-color: #28de62;  /*#d81d00;*/
    height: 60px;
    color: white;
    font-size: 26px;
    font-weight: 600px;
    border: 0;
    border-radius: 8px;
}

.deleteProds:active{
    transform: translate(1px, 1px);
}

.modifyProds{
    width: 100%;
    background-color: #28de62;
    height: 60px;
    color: white;
    font-size: 26px;
    font-weight: 600px;
    border: 0;
    border-radius: 8px;
}

.modifyProds:active{
    transform: translate(1px, 1px);
}

#deleteCards{
    display: none;
}

#modifyCards{
    display: none;
}

#first{
    background-color: #FbFDFD;
    color: #333333;
    border-radius: 1px;
    border: 0;
    margin-left: 20px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

#second{
    background-color: #FbFDFD;
    color: #333333;
    border-radius: 1px;
    border: 0;
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

#third{
    background-color: #FbFDFD;
    color: #333333;
    border-radius: 1px;
    border: 0;
    margin-right: 20px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

#fourth{
    background-color: #FbFDFD;
    color: #333333;
    border-radius: 1px;
    border: 0;
    margin-right: 20px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}



.title{
    text-align: center;
}

.field{
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.form-label{
    margin-bottom: 0px;
}

.btn{
    font-weight: 550;
    width: 100%;
}

.deletelink{
    color: white;
}