.cardtitle{
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-style: 'sans serif';
    font-size: 25px;
    font-weight: 700;
    color: black;
}

.cardsubtitle{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-style: 'sans serif';
    font-size: 19px;
    font-weight: 700;
    color: black;
}

.cardcontent{
    margin-top: 3rem;
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    background-color: rgb(245, 252, 252);
}

.btn1{
    margin-top: 10px;
}

.alreadysigned{
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 600;
}

.res {
    text-align: center;
}

.btnLogReg {
    background-color: #48C3C5;
    width: 10rem;
    font-weight: 600;
}

.btnLogReg:hover {
    background-color: #58c8ca;
}